
<div class="container">


	<form name="postForm" ng-submit="postForm.$valid && submitPost()" novalidate>
	  <input type="text" ng-model="post.title" required />
	  <textarea type="text" ng-model="post.content" required ></textarea>
	  <input type="submit" value="Add Post" />
	</form>

    <div class="post" ng-repeat="post in posts | orderBy :'-date'" >  
	    <h2 class="title">{{post.title}}</h2>
        <p class="date">{{post.date | date:'MM/dd/yyyy @ h:mma'}}</p>
        <p>{{post.content}}</p>
        <!-- <p ng-click="deletePost(postId)">Delete</p> -->
	</div>
</div>